<div class="container">
<div class="row">
    <div class="space-sep40"></div>
    <div class="row-fluid">
     <div class="span3">
       <img src="http://goo.gl/BScSal" alt="MockUp" align="middle" class="chimper-prop img-responsive ratio">
     </div>
     <div class="span9">
       <h1 class="tpm">About:</h1>  
       <h3 class="h3-section-info text-left">
         Chimper is for photography enthusiasts. Whether you are a commercial photographer, amatuer, veteran, beginner, studio shooter, streettog, pixel peeper, purist, composite artist, macro specialist, astro addict, gear junkie, hipster, film shooter, digital shooter, large format, Canon, Nikon, Leica, Box Brownie or anything in between it doesn’t matter; you, your comments and your photographs are welcome here.
       </h3>
     </div>                  
    </div>
    <div class="space-sep40"></div>
  </div>
  </div>
<!-- starts here -->
<div class="bg section-content section-tabs section-px stones-bg white-text">
        <div class="tab-container">
          <div class="container">
           <div class="row">
             <div class="col-md-12 col-sm-12">
             <div class="space-sep20"></div>
             <div class="space-sep40"></div>              
             <h1 class="text-left">Voting:</h1>                  
             <h3 class="h3-section-info text-left">
             Users vote using the (+ - ) symbols on the photographs they like the most. The higher voted photographs rise to the top of the ranks and the lesser voted photographs drop to the bottom.
             </h3>
             <div class="space-sep40"></div>
             <h1 class="text-left">Critiques and Comments:</h1> 
             <h3 class="h3-section-info text-left">
             Critiques and comments can be posted on every photograph and is encouraged. By commenting on and critiquing work, we can inspire and encourage each other to keep shooting and improve our craft. Share the love, people.
             </h3>
             <div class="space-sep40"></div>
             <h1 class="text-left">Photo-centric, rather than Profile-centric:</h1> 
             <h3 class="h3-section-info text-left">
             We’ve all seen famous celebs post mundane images of a piece of a cake and get like a zillion likes, this isn’t how it works here. Chimper is a level playing field, there are no categories, no hierarchy, no following or fans. It’s all about the photographs. So why not be a part of it? Put it out there. Show the world. It’s time to be a little bit epic.
             </h3>
             <div class="space-sep40"></div>
             <h1 class="text-left">Credit where credit’s due:</h1> 
             <h3 class="h3-section-info text-left">
             All photographs include a profile link on the photographer who took the photo. From your profile you can link to your own portfolio websites, emails and so on. If you’ve got it, we all want to help you flaunt it. Who knows what may come from it?
             </h3>
             <div class="space-sep40"></div>
             <h1 class="text-left">Help make Chimper better:</h1> 
             <h3 class="h3-section-info text-left">
             This place was built for photography enthusiasts and is still very much a work in progress, which is a good thing. If you have feedback or ideas on what you love or hate or would like to see added please absolutely let us know so we can continue to grow and improve the site. We thank you for being a part of Chimper.
             </h3>
             </div>
           </div>
           </div>
           </div>
           </div>
