<div id="wrapper"  >
<div class="top_wrapper">
  <div class="top-bar">
    <div class="container">
      <div class="row">
        <div class="col-sm-7">
          <div class="mail-us top-bar-block">
            <i class="icon-email"></i>                            
            <span>
            E-mail: user@example.com
            </span>                            
          </div>
        </div>
        <div class="col-sm-5">
          
          <div class="social-icons">
            <ul>
              <li>
                <a href="#" target="_blank" class="social-media-icon facebook-icon" data-original-title="facebook">facebook</a>
              </li>
              <li>
                <a href="#" target="_blank" class="social-media-icon twitter-icon" data-original-title="twitter">twitter</a>
              </li>
              <li>
                <a href="#" target="_blank" class="social-media-icon googleplus-icon" data-original-title="googleplus">googleplus</a>
              </li>
              <li>
                <a href="#" target="_blank" class="social-media-icon pininterest-icon" data-original-title="pininterest">pininterest</a>
              </li>
              <li>
                <a href="#" target="_blank" class="social-media-icon dribble-icon" data-original-title="dribble">dribble</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Header -->
  <header id="header">
    <div class="container">
      <div class="row header">
        <!-- Logo -->
        <div class="col-xs-2 logo">
          <a href="#">
            <h1>Photostore</h1>
          </a>
        </div>
        <!-- //Logo// -->
        <!-- Navigation File -->
        <div class="col-md-10">
          <!-- Mobile Button Menu -->
          <div class="mobile-menu-button">
            <i class="fa fa-list-ul"></i>
          </div>
          <!-- //Mobile Button Menu// -->
          <nav>
            <ul class="navigation">
              <li>
                <a href="#">
                <span class="label-nav">
                Today's
                </span>
                <span class="label-nav-sub" data-hover="Today">
                Today's Images
                </span>
                </a>                                            
              </li>
              <li>
                <a href="#">
                <span class="label-nav">
                Trending Now
                </span>
                <span class="label-nav-sub" data-hover="Trending">
                Trending Images
                </span>
                </a>                                            
              </li>
              <li>
                <a href="#">
                <span class="label-nav">
                Most Popular
                </span>
                <span class="label-nav-sub" data-hover="Popular">
                Most Popular Images
                </span>
                </a>                                            
              </li>
            </ul>
          </nav>
          <!-- Mobile Nav. Container -->
          <ul class="mobile-nav">
            <li class="responsive-searchbox">
              <!-- Responsive Nave -->
              <form action="#" method="get">
                <input type="text" class="searchbox-inputtext" id="searchbox-inputtext-mobile" name="s" />
                <button class="icon-search"></button>
              </form>
              <!-- //Responsive Nave// -->
            </li>
          </ul>
          <!-- //Mobile Nav. Container// -->
        </div>
        <!-- Nav -->
      </div>
    </div>
  </header>
  <!-- //Header// -->
</div>
<!--.top wrapper end -->

